* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

/* End extract from normalize.css */

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6,
.w3-slim,
.w3-wide {
    font-family: "Segoe UI", Arial, sans-serif
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 10px 0
}

.w3-wide {
    letter-spacing: 4px
}

.w3-jo {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none !important;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-jo.w3-disabled,
.w3-jo-block.w3-disabled,
.w3-jo-floating.w3-disabled,
.w3-jo:disabled,
.w3-jo-floating:disabled,
.w3-jo-floating-large.w3-disabled,
.w3-jo-floating-large:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.w3-jo.w3-disabled *,
.w3-jo-block.w3-disabled,
.w3-jo-floating.w3-disabled *,
.w3-jo:disabled *,
.w3-jo-floating:disabled * {
    pointer-events: none
}

.w3-jo.w3-disabled:hover,
.w3-jo-block.w3-disabled:hover,
.w3-jo:disabled:hover,
.w3-jo-floating.w3-disabled:hover,
.w3-jo-floating:disabled:hover,
.w3-jo:hover,
.w3-jo-block:hover,
.w3-jo-floating:hover,
.w3-jo-floating-large:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-jo,
.w3-jo-floating,
.w3-jo-floating-large,
.w3-closenav,
.w3-opennav {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-jo,
.w3-jo-floating,
.w3-jo-floating-large,
.w3-jo-block,
.w3-hover-shadow,
.w3-hover-opacity,
.w3-navbar a,
.w3-sidenav a,
.w3-dropnav a,
.w3-pagination li a,
.w3-hoverable tbody tr,
.w3-hoverable li,
.w3-accordion-content a,
.w3-dropdown-content a,
.w3-dropdown-click:hover,
.w3-dropdown-hover:hover,
.w3-opennav,
.w3-closenav,
.w3-closebtn,
.w3-hover-amber,
.w3-hover-aqua,
.w3-hover-blue,
.w3-hover-light-blue,
.w3-hover-brown,
.w3-hover-cyan,
.w3-hover-blue-grey,
.w3-hover-green,
.w3-hover-light-green,
.w3-hover-indigo,
.w3-hover-khaki,
.w3-hover-lime,
.w3-hover-orange,
.w3-hover-deep-orange,
.w3-hover-pink,
.w3-hover-purple,
.w3-hover-deep-purple,
.w3-hover-red,
.w3-hover-sand,
.w3-hover-teal,
.w3-hover-yellow,
.w3-hover-white,
.w3-hover-black,
.w3-hover-grey,
.w3-hover-light-grey,
.w3-hover-dark-grey,
.w3-hover-text-amber,
.w3-hover-text-aqua,
.w3-hover-text-blue,
.w3-hover-text-light-blue,
.w3-hover-text-brown,
.w3-hover-text-cyan,
.w3-hover-text-blue-grey,
.w3-hover-text-green,
.w3-hover-text-light-green,
.w3-hover-text-indigo,
.w3-hover-text-khaki,
.w3-hover-text-lime,
.w3-hover-text-orange,
.w3-hover-text-deep-orange,
.w3-hover-text-pink,
.w3-hover-text-purple,
.w3-hover-text-deep-purple,
.w3-hover-text-red,
.w3-hover-text-sand,
.w3-hover-text-teal,
.w3-hover-text-yellow,
.w3-hover-text-white,
.w3-hover-text-black,
.w3-hover-text-grey,
.w3-hover-text-light-grey,
.w3-hover-text-dark-grey {
    -webkit-transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s;
    transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s
}

.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
    float: left;
    width: 100%
}

@media only screen and (min-width:993px) {
    .w3-col.l10 {
        width: 73.33333%;
    }
}

.w3-rest {
    overflow: hidden
}

.w3-margin-bottom {
    margin-bottom: 16px !important
}

.w3-example {
    background-color: #f1f1f1;
    padding: 0.01em 16px
}

.w3-code {
    font-family: Consolas, "courier new";
    font-size: 16px;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word
}

.w3-example,
.w3-code {
    margin: 20px 0
}

.w3-example {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
}